<h2>My Favorites</h2>
<p><%= games.length %> games in my Fav. LIST!</p>
<% games.forEach(g => { %>
<div class="main">
	<h3>
		<a href="/boardGame/<%= g.name %> "> <%= g.name %> </a>
	</h3>
</div>

<% }) %>
